.x 
 {display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(7,fr);
grid-column-gap: 10px;
grid-row-gap: 10px;}

.o {
    background-color:cadetblue;
    text-align: center;
}
